.kl-404 {
  background-color: $black_primary;
  color: $orange_primary;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 30px 0;
  text-align: center;
  @include media-breakpoint-up(md) {
    display: block;
    padding: 0;
  }
  >.kl-container-fluid {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    font-family: $font_secondary;
    font-size: 164px;
    line-height: 0.9;
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      font-size: 272px;
      @media(max-height: 575.98px) {
        font-size: 182px;
      }
    }
    @include media-breakpoint-up(xl) {
      font-size: 392px;
      @media(max-height: 725px) {
        font-size: 272px;
      }
      @media(max-height: 575.98px) {
        font-size: 182px;
      }
    }
  }
  h2 {
    font-family: $font_secondary;
    font-size: 38px;
    font-style: italic;
    line-height: 0.83;
    margin-bottom: 0;
    @include media-breakpoint-up(md) {
      font-size: 60px;
      @media(max-height: 575.98px) {
        font-size: 40px;
      }
    }
    @include media-breakpoint-up(xl) {
      font-size: 90px;
      @media(max-height: 725px) {
        font-size: 60px;
      }
      @media(max-height: 575.98px) {
        font-size: 40px;
      }
    }
  }
  .kl-text-18 {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
      @media(max-height: 725px) {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }
  .kl-link-semi-bordered {
    &::after {
      background-color: $orange_primary;
      width: 46px;
      @include media-breakpoint-up(md) {
        width: 60px;
      }
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.kl-404-title {
  margin-bottom: 30px;
  @include media-breakpoint-up(md) {
    margin-bottom: 63px;
    @media(max-height: 725px) {
      margin-bottom: 30px;
    }
  }
}